{
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[vue]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[Typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },

  "prettier.tabWidth": 4,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.arrowParens": "avoid",
  "prettier.bracketSpacing": true,
  "prettier.htmlWhitespaceSensitivity": "ignore",
  "prettier.ignorePath": ".prettierignore",
  "prettier.jsxBracketSameLine": false,
  "prettier.jsxSingleQuote": false,
  "prettier.parser": "babylon",
  "prettier.requireConfig": false,
  "prettier.stylelintIntegration": false,
  "prettier.tslintIntegration": false
}
